<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
<!--    <link href="css/volt.css" rel="stylesheet" />-->
    <title>New Publication</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
</head>
<body>
<main layout:fragment="body">
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-black">Make New Publication</h1>
                <p class="lead mb-0">This is others will see your publication</p>
            </div>
        </div>
    </header>
    <!-- Page content-->
    <div class="container">
        <div>
            <!-- Blog entries-->
            <div class="col-lg-8">
                <!-- Featured blog post-->
                <div class="card mb-4 w-100">
                    <a href="#!"><img class="card-img-top" src="/assets/img/default-publication-image.webp" alt="..." /></a>
                    <div class="card-body">

                        <a class="d-flex align-items-center">
                            <img class="avatar rounded-circle me-1" th:src="${userDto.getProfilePicture()}" alt="Avatar">
                            <div class="d-block">
                                <span class="fw-black" id="username" th:text="${'@'+userDto.getUsername()}"></span>
                            </div>
                        </a>
                        <div class=" d-flex ml-2 small text-muted mb-3">Posted 1 minute ago</div>

                        <h2 class="card-title fw-black" id="cardTitle">History of Vikings longships
                            <svg class="text-danger card-body-svg" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.395 2.553a1 1 0 00-1.45-.385c-.345.23-.614.558-.822.88-.214.33-.403.713-.57 1.116-.334.804-.614 1.768-.84 2.734a31.365 31.365 0 00-.613 3.58 2.64 2.64 0 01-.945-1.067c-.328-.68-.398-1.534-.398-2.654A1 1 0 005.05 6.05 6.981 6.981 0 003 11a7 7 0 1011.95-4.95c-.592-.591-.98-.985-1.348-1.467-.363-.476-.724-1.063-1.207-2.03zM12.12 15.12A3 3 0 017 13s.879.5 2.5.5c0-1 .5-4 1.25-4.5.5 1 .786 1.293 1.371 1.879A2.99 2.99 0 0113 13a2.99 2.99 0 01-.879 2.121z" clip-rule="evenodd"></path></svg>
                        </h2>
                        <p class="card-text" id="cardDescription">Briefing on the history of longships making during the vikings erra!</p>
                        <a class="btn btn-outline-gray-800">Read More →</a>
                    </div>
                </div>

                <div class="card card-body border-0 shadow mb-4">
                    <h2 class="h5 mb-4 fw-black">Publication Details</h2>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div>
                                <!-- TITLE -->
                                <label for="publicationTitle">Title</label>
                                <input class="form-control"
                                       id="publicationTitle"
                                       type="text"
                                       placeholder="Nordic History">
                                <div class="invalid-feedback" id="titleInvalidBox">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div>
                                <!-- DESCRIPTION -->
                                <label for="publicationDescription">Description</label>
                                <input class="form-control"
                                       id="publicationDescription"
                                       type="text"
                                       placeholder="This is a publication about the Nordic history">
                                <div class="invalid-feedback" id="descriptionInvalidBox">

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- IMAGE -->
                    <div class="row align-items-center">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="publicationImage">Publication Image</label>
                                <input class="form-control"
                                       id="publicationImage"
                                       type="file"
                                       accept=".webp, .jpeg, .png">
                                <div class="invalid-feedback" id="imageInvalidBox">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <!-- Categories -->
                            <label for="categories">Category</label>
                            <select class="form-select mb-0" id="categories">
                                <option th:value="'None'">Select Category</option>
                            </select>
                            <div class="invalid-feedback" id="categoriesInvalidBox"></div>
                        </div>
                        <div class="my-4">
                            <label for="editor">Content</label>
                            <div class="form-control" id="editor" rows="4"></div>
                            <div class="invalid-feedback" id="editorAreaInvalidBox"></div>
                        </div>
                    </div>
                    <div class="display-flex justify-content-center w-100">
                        <a class="btn btn-outline-indigo w-8" id="submitPublicationBtn">Publish</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SWEET ALERT LIB -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <!-- NOTIFY -->
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>

    <!-- CKEDITOR -->
    <script src="https://cdn.ckeditor.com/ckeditor5/41.3.1/balloon/ckeditor.js"></script>

    <!-- JQUERY -->
    <script
            src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>

    <!-- CUSTOM SCRIPT -->
    <script src="/js/custom_scripts/publication/newPublicationPage.js"></script>
</main>
</body>
</html>