<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>About Alfheim</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <link href="css/volt.css" rel="stylesheet" />
</head>
<section>
  <!-- Page Content-->
  <main layout:fragment="body" class="container px-4 px-lg-5">
    <header class="py-5">
    <div class="container px-5">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-xxl-6">
          <div class="text-center my-5">
            <h1 class="fw-bolder mb-3">Our mission is to spread the Nordic wisdom</h1>
            <p class="lead fw-normal text-muted mb-4">We are working our best to make the resources of knowledge about the Old Nordic era available and accessible for everyone free of charge.</p>
            <a class="btn btn-outline-indigo btn-lg" href="/publications/feed">Check Publications</a>
          </div>
        </div>
      </div>
    </div>
  </header>
    <!-- About section one-->
    <section class="py-5 bg-light" id="scroll-target">
      <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
          <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="/assets/img/cowRight.png" alt="..." /></div>
          <div class="col-lg-6">
            <h2 class="fw-bolder text-secondary">Our founding</h2>
            <p class="lead fw-normal text-muted mb-0">Alfheim rely on the funding of its founders, alongside the funds coming from the community members.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- About section two-->
    <section class="py-5">
      <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
          <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="/assets/img/crowLeft.png" alt="..." /></div>
          <div class="col-lg-6">
            <h2 class="fw-bolder text-primary">Growth &amp; beyond</h2>
            <p class="lead fw-normal text-muted mb-0">We started our journey recently, yet we have big hopes for a massive growth and gathering as many Nordic passionates as possible.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- Team members section-->
    <section class="py-5 bg-light">
      <div class="container px-5 my-5">
        <div class="text-center">
          <h2 class="fw-bolder">Our team</h2>
          <p class="lead fw-normal text-muted mb-5">Dedicated to quality and your success</p>
        </div>
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
          <div class="col mb-5 mb-5 mb-xl-0">
            <div class="text-center">
              <img class="img-fluid rounded-circle mb-4 px-4" src="/assets/img/avatar-1.png" alt="..." />
              <h5 class="fw-bolder">Tomax47</h5>
              <div class="fst-italic text-muted">Founder</div>
            </div>
          </div>
          <div class="col mb-5 mb-5 mb-xl-0">
            <div class="text-center">
              <img class="img-fluid rounded-circle mb-4 px-4" src="/assets/img/avatar-2.png" alt="..." />
              <h5 class="fw-bolder">Arden Vasek</h5>
              <div class="fst-italic text-muted">Admin</div>
            </div>
          </div>
          <div class="col mb-5 mb-5 mb-sm-0">
            <div class="text-center">
              <img class="img-fluid rounded-circle mb-4 px-4" src="/assets/img/avatar-3.png" alt="..." />
              <h5 class="fw-bolder">Toribio Nerthus</h5>
              <div class="fst-italic text-muted">Operations Manager</div>
            </div>
          </div>
          <div class="col mb-5">
            <div class="text-center">
              <img class="img-fluid rounded-circle mb-4 px-4" src="/assets/img/avatar-4.png" alt="..." />
              <h5 class="fw-bolder">Malvina Cilla</h5>
              <div class="fst-italic text-muted">CTO</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</section>
</html>