<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Home</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="/css/volt.css" rel="stylesheet" />
</head>
<section>
    <!-- Page Content-->
    <main layout:fragment="body">

        <section class="section-bg-dark" style="height: 30rem; padding-top: 6rem">
            <h1 style="color: #fff0da">Alfheim Community</h1>
        </section>

        <section class="section-bg-light" style="height: 30rem; padding-top: 6rem">
            <h1>Spread The Nordic Wisdom</h1>
        </section>

        <section class="section-bg-dark" style="height: 30rem; padding-top: 6rem">
            <h1 style="color: #fff0da">Join Events</h1>
        </section>

        <section style="background-color: #fff0da; height: 30rem; padding-top: 6rem">
            <h1>Share Your Researches</h1>
        </section>

    </main>
</section>

<!-- Core -->
<script src="/js/vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="/js/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Vendor JS -->
<script src="/js/vendor/onscreen/dist/on-screen.umd.min.js"></script>

<!-- Slider -->
<script src="/js/vendor/nouislider/distribute/nouislider.min.js"></script>

<!-- Smooth scroll -->
<script src="/js/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

<!-- Charts -->
<script src="/js/vendor/chartist/dist/chartist.min.js"></script>
<script src="/js/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>

<!-- Datepicker -->
<script src="/js/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

<!-- Sweet Alerts 2 -->
<script src="/js/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>

<!-- Moment JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>

<!-- Vanilla JS Datepicker -->
<script src="/js/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

<!-- Notyf -->
<script src="/js/vendor/notyf/notyf.min.js"></script>

<!-- Simplebar -->
<script src="/js/vendor/simplebar/dist/simplebar.min.js"></script>

<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Volt JS -->
<script src="/js/volt.js"></script>

</html>